# if true, only use license information from the set of licenses stored within the JAR file at release time, rather than
# downloading the latest versions from the SPDX website
SPDXParser.OnlyUseLocalLicenses=false

# if true, enable the download cache
org.spdx.downloadCacheEnabled=false

# local download cache re-check interval, in seconds
org.spdx.downloadCacheCheckIntervalSecs=86400
