# if true, use licenses from stored set of licenses rather than from the spdx.org/licenses website
SPDXParser.OnlyUseLocalLicenses=false

# if true, enable a local download cache for listed license files downloaded from the SPDX website
org.spdx.storage.listedlicense.enableCache=false

# local download cache re-check interval, in seconds
org.spdx.storage.listedlicense.cacheCheckIntervalSecs=86400
